.page2_content {
  height: 100%;
}

.page3_wrapper {
  border: 2px solid black;
}

.page3_title {
  font-family: "Gotham Regular", "Arial", sans-serif;
  margin: 0;
  padding: 100px 0 0 50px;
  font-size: 28px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.6px;
  color: #fff;
  object-fit: contain;
}
strong {
  font-family: Lato;
  font-size: 30px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: -0.73px;
  text-align: center;
  color: #fff;
}

.page3_name1 {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.page3_beta {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(
    to bottom,
    rgba(18, 15, 124, 0.44),
    rgba(18, 15, 124, 0.44)
  );
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.page3_beta img {
  width: 40px;
  height: 70px;
}
