.page2_content {
}

.page3_wrapper {
}

.page3_title {
  font-family: "Gotham Regular", "Arial", sans-serif;
  margin: 0;
  padding: 100px 0 0 50px;
  font-size: 28px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.6px;
  color: #fff;
  object-fit: contain;
}
strong {
  font-family: Lato;
  font-size: 30px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: -0.73px;
  text-align: center;
  color: #fff;
}

.page3_name1 {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.page3_beta {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(
    to bottom,
    rgba(18, 15, 124, 0.44),
    rgba(18, 15, 124, 0.44)
  );
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.page3_beta-img {
  width: 40px;
  height: 70px;
}

.page3_arrow-1 {
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 50px;
  margin: 20px;
}
.page3_arrow-1 div {
  position: relative;
  top: 20px;
  width: 90px;
  height: 6px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  left: 0;
  display: block;
}
.page3_arrow-1 div::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  top: -11px;
  right: -8px;
  background-color: #fff;
  transform: rotate(45deg);
}
.page3_arrow-1 div::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  top: 11px;
  right: -8px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}
