.wrapper {
  position: relative;
}

.page {
  height: 1024px;
  width: 768px;
  overflow: hidden;
  margin: 0px auto;
  scroll-behavior: smooth;
}
.active_page {
}
.noactive_page {
  display: none;
}
.page1 {
  background-color: blue;
}
.page2 {
  background-color: yellow;
}
.page3 {
  background-color: green;
}

.next {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.prev {
  position: absolute;
  top: 0;
  left: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
