.wrapper {
  position: relative;
  background-color: #0d319c;
}
.page {
  margin: 0px auto;
  height: 1024px;
  width: 768px;
  min-height: 100vh;
}
.page1 {
  background-color: blue;
  background-image: url(./images/fon01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  /* background-attachment: local; */
  /* background-position: 50% 0; */
}
.page2 {
  background-color: yellow;
  background-image: url(./images/fon02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.page3 {
  background-color: green;
  background-image: url(./images/fon03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.page3_title {
  font-family: "Gotham Regular", "Arial", sans-serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #0d319c;
  padding: 70px 0 0 40px;
  max-width: 520px;
  object-fit: contain;
  margin: 0;
}
