/* .wrapper {
  position: relative;
  background-color: #0d319c;
}
.page {
  margin: 0px auto;
  height: 1024px;
  width: 768px;
  min-height: 100vh;
  position: relative;
} */
/* .page1 {
  background-color: blue;
  background-image: url(./images/fon01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.page2 {
  background-color: yellow;
  background-image: url(./images/fon02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.page3 {
  background-color: green;
  background-image: url(./images/fon03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-x: hidden;
} */
.buttons {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-50%);
  top: 50%;
  right: 2%;
  height: 60px;
}
button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.btn-active {
  background-color: #f78b1f;
}
